@font-face {
  font-family: "ForalPro";
  src: url("~/static/fonts/ForalPro/ForalPro.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("~/static/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RampageMonoline";
  src: url("~/static/fonts/RampageMonoline/RampageMonoline-Rounded.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$font-foral-pro: 'ForalPro', serif;
$font-open-sans: 'OpenSans', sans-serif;
$font-rampage-monoline: 'RampageMonoline', sans-serif;

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

$primary-clr: #F9A11B;
$primary-light-clr: #FFD56A;
$primary-dark-clr: #F5691A;
$text-light-clr-1: #FFFFFF;
$text-light-clr-2: #ECECEC;
$text-light-clr-3: #CCCCCC;
$text-dark-clr-1: #363843;
$text-dark-clr-2: #717277;
$btn-txt-clr: #010101;
$bg-clr: #000000;
$bg-light-clr: #16151B;

$gradient-bg: linear-gradient(266.39deg, #F5691A 19.34%, #FFD643 94.95%);
$gradient-inverted-bg: linear-gradient(86.39deg, #F5691A 19.34%, #FFD643 94.95%);
$gradient-course-card: linear-gradient(294.37deg, rgba(249, 161, 27, 0.15) 0.06%, rgba(0, 0, 0, 0) 100.12%);

$border-divider: 1px solid rgba(204, 204, 204, 0.2);