.container {
  margin: auto;
}

.musicalll {
  font-family: $font-foral-pro;
  font-weight: 700;
  color: $primary-clr;
}

.divider {
  width: 60%;
  margin: auto;
  border-top: $border-divider;
}

.font-foral-pro {
  font-family: $font-foral-pro;
}

.font-rampage-monoline {
  font-family: $font-rampage-monoline;
}